.header {
  display: flex;
  height: 50px;
  flex-direction: columns;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
  border-bottom: 1px solid #29292e;
  background-color: var(--color-background);

  h1 {
    color: var(--color-white);
    font-weight: 700;
  }

  .icons {
    color: var(--color-purple-dark);
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      color: var(--color-purple-dark);
    }

    svg {
      cursor: pointer;
    }

    .content-icon-cart-and-qty {
      position: relative;

      span {
        position: absolute;
        font-size: 12px;
        background: var(--color-green-success-light);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        font-weight: bold;
        right: -5px;
        color: var(--color-red-mid);
      }
    }

    .user-logged {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 12px;

      span {
        color: var(--color-white);
        font-weight: 700;
        margin-bottom: -5px;
      }
    }
  }
}
